Appstorm!!! This is an example of a static webserver pointing to different pods running different backends<br \>
<a href="/php">/php</a><br \>
<a href="/hhvm">/hhvm</a><br \>
<a href="/mojo">/mojo</a><br \>
